*.h5
*.xdmf
*.pvsm
dolfin-env*
*__pycache__*
*.out
*generating_graphs/graphs/*
*generating_graphs/syntetic_jsons/*
*generating_images/imgs/*
*generating_images/viewpoints/*
*velocity_plots*
*dissipations*
*.sh
*.vtu
*.pvtu
*.pvd
*.csv
*.txt
